@import "tailwindcss";
@plugin "daisyui";

/* @tailwind preflight; */

@tailwind utilities;

/* @layer components {
    .row-input {
        @apply flex items-center justify-between gap-4 text-lg;
    }
} */

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}